---
const year = new Date().getFullYear()
---

<footer>
  <p>
    <span>
      © <span id="year">{year}</span>
    </span>
    <span> Michał Bodys </span>
  </p>
</footer>

<style>
  footer {
    padding-block: 67px;
    text-align: center;
    padding-inline: var(--mobile-inline-padding);

    & P > span:first-child::after {
      content: '|';
      display: inline-block;
      translate: 0 -1px;
    }
  }
</style>

<script is:inline>
  document.querySelector('#year').textContent = new Date().getFullYear()
</script>
